body {
    display: flex;
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #080808;
    color: white;
}

input {
    padding: 10px;
    font-size: 24px;
    text-align: center;
}

#definition {
    height: 30px;
    margin-top: 20px;
    font-size: 24px;
}
